[submodule "cpp/cpp-librandw"]
	path = cpp/cpp-librandw
	url = git@github.com:olegasivakov/rng-cpp-librandw.git
[submodule "cpp/randw/cpp/cpp-librandw"]
	path = cpp/randw/cpp/cpp-librandw
	url = git@github.com:olegasivakov/rng-cpp-librandw.git
